body {
    background: #EEEEEE;
}

.img-logo, .img-card {
    width: 100%
}

#card-welcome, #card-description {
    color: #B71111;
    background: #EEEEEE;
    border-color: #EEEEEE;
}

#card-description {
    float: right;
}

#card-welcome {
    float: left;
}

.p {
    text-align: center
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #A48D73;
    width: 100%;
    height: 50px;
}

footer a {
    color: white
}

footer a:hover {
    color: gray
}

#menu-main-dropdown {
    display: none;
}

@media (max-width: 960px) {
    nav ul {
        display: none;
    }
    #menu-main-dropdown {
        display: inline-block;
    }
}

.top-menu, nav #dropdownMenuButton {
    position: relative;
    background: #694040;
}

nav #dropdownMenuButton {
    text-transform: uppercase;
}

.menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-main:after {
    content: "";
    display: table;
    clear: both;
}

.left-item {
    float: left;
}

.right-item {
    float: right;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-navbar {
    height: 60px;
}

.menu-main a {
    text-decoration: none;
    display: block;
    line-height: 60px;
    padding: 0 20px;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    transition: .3s linear;
}

.menu-main a:hover {
    background: rgba(0, 0, 0, .3);
}

@media (max-width: 830px) {
    .menu-main {
        padding-top: 90px;
        text-align: center;
    }
    .navbar-logo {
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-30%);
    }
    .menu-main li {
        float: none;
        display: inline-block;
    }
    .menu-main a {
        line-height: normal;
        padding: 20px 15px;
        font-size: 16px;
    }
    .img-navbar {
        display: none;
    }
    nav .dropdown a.dropdown-item {
        text-decoration: none;
        font-size: 15px;
        font-family: sans-serif;
        color: white;
        text-transform: uppercase;
        transition: .3s linear;
        background: #694040;
    }
    nav .dropdown a.dropdown-item:hover {
        background: rgba(0, 0, 0, .3);
    }
    .decor .inner-form input, .decor .inner-form input[type="submit"] {
        margin-bottom: 15px;
    }
    .decor .inner-form label {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 630px) {
    .menu-main li {
        display: block;
    }
}

#language {
    float: left;
}

#networks {
    float: right;
}

.decor {
    position: relative;
    margin: 10px auto 0;
    background: #A48D73;
    border-radius: 30px;
}

.inner-form input, .inner-form label, #table-form input {
    display: block;
}

.inner-form {
    padding: 50px;
}

.inner-form input, #table-form input {
    padding: 0 20px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto 0;
    color: gray;
}

.inner-form input[type="submit"] {
    background: #B71111;
    color: white;
    border-bottom: 4px solid #d87d56;
    font-size: 14px;
    text-align: center;
    margin: auto;
}

.inner-form label {
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, .6);
    text-transform: uppercase;
    font-size: 14px;
}

#reservation-title {
    color: #B71111;
    text-align: center;
    margin: 10px auto 10px;
    text-transform: uppercase;
}

#table-form {
    margin: 20px auto;
    border-collapse: collapse;
    border: 3px solid #ccc1bb;
    font-family: "Lucida Grande", sans-serif;
    background: #A48D73;
}

#table-form input, #table-form label {
    display: block;
    margin-bottom: 50px;
    font-size: 18px;
}

#table-form label {
    text-align: center;
    color: white;
}

#application {
    text-align: center;
}

#btn-application, .form-select {
    background: #B71111;
    margin: 2px auto;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    outline: none;
    display: inline-block;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.form-select option {
    background: rgba(80, 80, 80, 0.8);
}

#list-container span {
    background: rgba(80, 80, 80, 0.3);
    position: absolute;
    bottom: 0px;
    width: 100%
}

#list-container img {
    width: 100%
}

#list-container a {
    color: white
}